<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">

  <title>G In The Park</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/bands">Bands</a></li>
      <li><a href="/venues">Venues</a></li>
      <li><a href="/gigs">Gigs</a></li>
    </ul>
  </nav>

  <section class="content">
    <div class="center">


    <%= yield %>
    </div>
  </section>


</body>
</html>
