* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #2F4F4F;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  line-height: 1.7em;
}

ul {
  list-style: none;
}

nav {
  z-index: 3;
}

a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

a:hover {
  background-color: white;
  color: #2F4F4F;
  border-radius: 5px;
}

table {
  display: inline-grid;
  margin-bottom: 20px;
}

td, th {
  padding: 10px 20px;

}

th {
  border: 1px solid;

}

td {
  border-bottom: 1px dotted;
  border-right: 1px dotted;
  border-left: 1px dotted;
}

.gig-past {
  text-decoration: line-through;
  text-decoration-style:wavy;
}



.btn {
  background: blanchedalmond;
  color: #2F4F4F;
  padding: 0.5em 2em;
  border: none;
  border-radius: 7px;
    display: block;
    width: fit-content;
    margin: auto;


}

.flex {
  display: flex;
}

.lrg-head {
  font-size: 3em;
  text-decoration: underline;
  text-align: center;
}

.sml-head {
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.navbar {
  font-size: 2em;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid;
  padding: 5px;

}

.navbar ul {
  display: flex;
  width: 100%;
  justify-content:space-around;
}

.navbar ul li {
  margin: auto;
  padding: 10px;
}

.navbar ul li a {
  padding: 5px;
}

.content {
    /* margin-top: 3em; */
    /* margin-left: 2em; */
    position: absolute;
    /* margin-right: 2em; */
    top: 0;
    margin-top: 8vh;
    height: 88vh;
    display: flex;
    width: 100vw;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

    width: 80%;
    margin:auto;
}

.index h2 {
  width: 70%;
  text-align: center;
  padding: 30px;
  font-size: 2em;
  line-height: 1.4em;
  margin: auto;


}

.center {
  margin:auto;
}

.home-item {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 28%;
  padding: 10px;
  border: 2px solid;
  border-radius: 30%;
}

.home-item p {
  font-size: 3em;
  margin: 10px;
  padding: 8px;
}





.list ul li {
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

.list-sml ul {
  margin: 10px 0px;
}

.list-sml ul li {
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
}

.list-sml ul li a{
  font-size: 1.6em;
}




.form {
  display: flex;
  flex-direction: column;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.form-group input{
  padding:5px;
  margin-bottom: 10px;
}

.form-group textarea {
  margin-bottom: 10px;
}





.show {
  text-align: center;
}


.band-info p {
  width: 80%;
  display: inline-flex;
}



.select {
  display: flex;
  justify-content: space-around;
}

.select select {
  width: 100%;
}

.select-group {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}
