<h1 class="lrg-head">Venues</h1>
<br>
<div class="list-sml">
  <% for venue in @venues %>
  <hr>
  <ul>
    <li><a href="/venues/<%= venue.id %>"> <%= venue.name %> </a></li>
    <li>Location: <%= venue.location %></li>
    <li>Capacity: <%= venue.capacity %></li>
    <hr>

  </ul>
  <% end %>
</div>

<a class="btn" href="/venues/new">ADD A NEW PARK</a>
