<h2>Add a new gig</h2>

<form action="/gigs" method="post">
  <label for="band-name">Band</label>
  <select name="band_id">
    <% for band in @bands %>
    <option value="<%= band.id %>"><%= band.name %></option>
    <% end %>
    </select>


  <label for="venue-name">Venue</label>
  <select name="venue_id">
    <% for venue in @venues %>
    <option value="<%= venue.id %>"><%= venue.name %></option>
    <% end %>
  </select>

  <label for="date">Date</label>
  <input type="date" name="date" value="">

  <label for="time">Time</label>
  <input type="time" name="time" value="">

  <input type="submit" name="" value="Add Gig">

</form>
