
  <h1 class="lrg-head">Bands</h1>
  <br>
  <br>

  <div class="list">
    <% for band in @bands %>
    <hr>
    <ul>
      <li><a href="/bands/<%= band.id %>"> <%= band.name %> </a></li>
      <hr>

    </ul>
    <% end %>

  </div>
<br>
<a class="btn" href="/bands/new">ADD BAND</a>
