<h3>Add New Band</h3>

<form action="/bands" method="post">
  <label for="name">Band Name: </label>
  <input type="text" name="name">

  <label for="genre">Genre: </label>
  <input type="text" name="genre" value="">

  <label for="bio">Bio: </label>
  <input type="text" name="bio">

  <input type="submit" value="Add Band">

</form>
